body {
  background-image: url(Images/ZomboidMenu.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  width: 1440px;
  height: 864px;
}

.container-size {
  width: 1440px;
  height: 864px;
}

.list {
  position: absolute;
  margin: auto;
  z-index: 2;
  overflow-y: auto;
  border: red solid 1px;
}

.list>div {
  position: relative;
  border: #343434 solid 1px;
  margin-bottom: 1px;
  z-index: 2;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.list img {
  padding-right: 5px;
}

#occupations.list>div {
  height: 67px;
}

.list>div:hover {
  background-color: #0b0b0b;
}

.center-absolute {
  position: absolute;
  top: 50px;
  left: 200px;
  z-index: 1;
}

.active {
  background-color: #351b0c;
}

.white-text {
  color: #d3d3d3;
}

.green-text {
  color: green;
}

.red-text {
  color: DarkRed;
}